
.Beginning.open { /*tela de login */
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 1rem;
  color: white;
  height: 100vh;
  width: 100%;

  background-image: url(../img/img-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sub-menu.open { /*menu de links*/
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.notice.open { /*noticias*/
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2.5rem 2rem 0 4rem;
}

.help.open {
  display: none;
}

.logout.open {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
  transition: .5s;
}

