* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --primary: #010243;
  --secondary: #0095b3;
  --hover: #036c81;
}

.page {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14rem;
  overflow: hidden;
}

/* Barra inicial  */
.logo {
  width: 16.7rem;
  height: 6.2rem;
}

.top {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 1rem 0;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.help {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: var(--primary);
}
/* /barra inicial  */

main {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 1rem;
  color: white;
  height: 100vh;
  width: 100%;

  background-image: url(./img/img-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Texto bem vindo  */
h1 {
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  padding-top: 5rem;
}

h1 span {
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
/* /texto bem vindo */

/* LOGIN */
.entry {
    padding-top: 30rem;
    padding-right: 10rem;
    gap: 1rem;
    height: 10rem;
    display: grid;
    align-items: center;
    align-content: space-evenly;
}

input {
  width: 35rem;
  height: 4.5rem;
  border-radius: 5px;
  border: none;
  padding: 1rem;
}

.bt-acess {
    margin-top: 1rem;
    width: 35rem;
    height: 4.5rem;
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
    cursor: pointer;
    border: none;

    transition: background-color .5s;
}

.bt-acess:hover {
    background-color:var(--hover) ;
}
/* /login */


/* rodapé */
footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: 1.8rem;
    text-align: end;
    color: white;
    /* background-color: black; */
    padding: 1rem;
}
/* /rodapé */
